# Data science in Python

- Course GitHub repo: https://github.com/pycam/python-data-science
- Python website: https://www.python.org/ 

## Session 2.1: Working with Pandas

- [Reading CSV Data Using Pandas](#Reading-CSV-Data-Using-Pandas)
- [Exploring our data](#Exploring-our-data)
- [Exercise 2.1.1](#Exercise-2.1.1)

## Mind map

<img src="img/mind_maps/mind_maps.004.jpeg">

## Reading CSV Data Using Pandas

### Import the Pandas library

Pandas is a widely-used external Python library for statistics, particularly on tabular data.
It borrows many features from R’s dataframes.
A dataframe is a 2-dimentional table whose columns have names and potentially have different data types.

Pandas website http://pandas.pydata.org/ and documentation http://pandas.pydata.org/pandas-docs/stable/.

To load `pandas` into your environment, you first need to install it using `pip install pandas` as it is an external third-party library, it is not included by default when you install Python.

When installed, to load it, use `import pandas`:

In [2]:
import pandas

### Read CSV data

For reading a Comma Separate Values (CSV) data file with pandas, we use `pandas.read_csv()`:

- Argument is the name of the file to be read.
- Assign result to a variable to store the data that was read.


The columns in a dataframe are the observed variables, and the rows are the observations. We are going to load a slightly different Gapminder dataset for Oceania, where each columns represent the GDP per capita on different years and each rows a country in Oceania. 

Pandas uses backslash `\` to show wrapped lines when output is too wide to fit the screen.

In [3]:
data = pandas.read_csv('data/gapminder_gdp_oceania.csv')
print(data)

       country  gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
0    Australia     10039.59564     10949.64959     12217.22686
1  New Zealand     10556.57566     12247.39532     13175.67800

   gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  \
0     14526.12465     16788.62948     18334.19751     19477.00928
1     14463.91893     16046.03728     16233.71770     17632.41040

   gdpPercap_1987  gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  \
0     21888.88903     23424.76683     26997.93657     30687.75473
1     19007.19129     18363.32494     21050.41377     23189.80135

   gdpPercap_2007
0     34435.36744
1     25185.00911

Our course stores its data files in a `data/` sub-directory, which is why the path to the file is `data/gapminder_gdp_oceania.csv`. If you forget to include `data/`, or if you include it but your copy of the file is somewhere else, you will get a runtime error that ends with a line like this:
```
FileNotFoundError: File b'gapminder_gdp_oceania.csv' does not exist
```

## Exploring our data

A DataFrame is a 2-dimensional data structure that can store data of different types (including characters, integers, floating point values, factors and more) in columns. It is similar to a spreadsheet or an SQL table or the `data.frame` in R. A DataFrame always has an index (0-based). An index refers to the position of an element in the data structure.

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 13 columns):
country           2 non-null object
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12), object(1)
memory usage: 288.0+ bytes

As expected, it’s a `DataFrame` (or, to use the full name that Python uses to refer to it internally, a `pandas.core.frame.DataFrame`).

It has 2 rows and 13 columns. It uses 288 bytes of memory.

The row headings are numbers (0 and 1 in this case) but we really want to index this DataFrame by country. To do so, we pass the name of the column to `read_csv()` as its `index_col` parameter to do this:

In [5]:
data = pandas.read_csv('data/gapminder_gdp_oceania.csv', index_col='country')
print(data)

             gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967  \
country
Australia       10039.59564     10949.64959     12217.22686     14526.12465
New Zealand     10556.57566     12247.39532     13175.67800     14463.91893

             gdpPercap_1972  gdpPercap_1977  gdpPercap_1982  gdpPercap_1987  \
country
Australia       16788.62948     18334.19751     19477.00928     21888.88903
New Zealand     16046.03728     16233.71770     17632.41040     19007.19129

             gdpPercap_1992  gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Australia       23424.76683     26997.93657     30687.75473     34435.36744
New Zealand     18363.32494     21050.41377     23189.80135     25185.00911

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, Australia to New Zealand
Data columns (total 12 columns):
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12)
memory usage: 208.0+ bytes

We can also use the `type()` function to see what kind of thing data is:

In [7]:
type(data)

pandas.core.frame.DataFrame

To see what kind of things does data contain, DataFrames have an attribute called dtypes which returns the data type of each columns. Note that this is an attribute associated to the DataFrame data, and not a method. So do not use `()` to call it.

In [8]:
data.dtypes

gdpPercap_1952    float64
gdpPercap_1957    float64
gdpPercap_1962    float64
gdpPercap_1967    float64
gdpPercap_1972    float64
gdpPercap_1977    float64
gdpPercap_1982    float64
gdpPercap_1987    float64
gdpPercap_1992    float64
gdpPercap_1997    float64
gdpPercap_2002    float64
gdpPercap_2007    float64
dtype: object

It has now 2 rows named 'Australia' and 'New Zealand' and 12 columns, each of which has two actual 64-bit floating point values. It uses 208 bytes of memory.

There are many ways to summarize and access the data stored in DataFrames, using attributes and methods provided by the [DataFrame object](https://pandas.pydata.org/pandas-docs/stable/api.html#dataframe).

To access an attribute, use the DataFrame object name followed by the attribute name `df_object.attribute`. Using the DataFrame `data` and attribute `columns`, an index of all the column names in the DataFrame can be accessed with `data.columns`.

Methods are called in a similar fashion using the syntax `df_object.method()`. As an example, `data.head()` gets the first few rows in the DataFrame `data` using the `head()` method. With a method, we can supply extra information in the parenthesis as arguments to control behaviour.

Let’s look at the data using these.

In [9]:
data.columns

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

Let's load European's data to have more rows:

In [10]:
eu_data = pandas.read_csv('data/gapminder_gdp_europe.csv', index_col='country')
print(eu_data)

                        gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  \
country
Albania                    1601.056136     1942.284244     2312.888958
Austria                    6137.076492     8842.598030    10750.721110
Belgium                    8343.105127     9714.960623    10991.206760
Bosnia and Herzegovina      973.533195     1353.989176     1709.683679
Bulgaria                   2444.286648     3008.670727     4254.337839
Croatia                    3119.236520     4338.231617     5477.890018
Czech Republic             6876.140250     8256.343918    10136.867130
Denmark                    9692.385245    11099.659350    13583.313510
Finland                    6424.519071     7545.415386     9371.842561
France                     7029.809327     8662.834898    10560.485530
Germany                    7144.114393    10187.826650    12902.462910
Greece                     3530.690067     4916.299889     6017.190733
Hungary                    5263.673816     6040.180011     7550.359877
Iceland                    7267.688428     9244.001412    10350.159060
Ireland                    5210.280328     5599.077872     6631.597314
Italy                      4931.404155     6248.656232     8243.582340
Montenegro                 2647.585601     3682.259903     4649.593785
Netherlands                8941.571858    11276.193440    12790.849560
Norway                    10095.421720    11653.973040    13450.401510
Poland                     4029.329699     4734.253019     5338.752143
Portugal                   3068.319867     3774.571743     4727.954889
Romania                    3144.613186     3943.370225     4734.997586
Serbia                     3581.459448     4981.090891     6289.629157
Slovak Republic            5074.659104     6093.262980     7481.107598
Slovenia                   4215.041741     5862.276629     7402.303395
Spain                      3834.034742     4564.802410     5693.843879
Sweden                     8527.844662     9911.878226    12329.441920
Switzerland               14734.232750    17909.489730    20431.092700
Turkey                     1969.100980     2218.754257     2322.869908
United Kingdom             9979.508487    11283.177950    12477.177070

                        gdpPercap_1967  gdpPercap_1972  gdpPercap_1977  \
country
Albania                    2760.196931     3313.422188     3533.003910
Austria                   12834.602400    16661.625600    19749.422300
Belgium                   13149.041190    16672.143560    19117.974480
Bosnia and Herzegovina     2172.352423     2860.169750     3528.481305
Bulgaria                   5577.002800     6597.494398     7612.240438
Croatia                    6960.297861     9164.090127    11305.385170
Czech Republic            11399.444890    13108.453600    14800.160620
Denmark                   15937.211230    18866.207210    20422.901500
Finland                   10921.636260    14358.875900    15605.422830
France                    12999.917660    16107.191710    18292.635140
Germany                   14745.625610    18016.180270    20512.921230
Greece                     8513.097016    12724.829570    14195.524280
Hungary                    9326.644670    10168.656110    11674.837370
Iceland                   13319.895680    15798.063620    19654.962470
Ireland                    7655.568963     9530.772896    11150.981130
Italy                     10022.401310    12269.273780    14255.984750
Montenegro                 5907.850937     7778.414017     9595.929905
Netherlands               15363.251360    18794.745670    21209.059200
Norway                    16361.876470    18965.055510    23311.349390
Poland                     6557.152776     8006.506993     9508.141454
Portugal                   6361.517993     9022.247417    10172.485720
Romania                    6470.866545     8011.414402     9356.397240
Serbia                     7991.707066    10522.067490    12980.669560
Slovak Republic            8412.902397     9674.167626    10922.664040
Slovenia                   9405.489397    12383.486200    15277.030170
Spain                      7993.512294    10638.751310    13236.921170
Sweden                    15258.296970    17832.024640    18855.725210
Switzerland               22966.144320    27195.113040    26982.290520
Turkey                     2826.356387     3450.696380     4269.122326
United Kingdom            14142.850890    15895.116410    17428.748460

                        gdpPercap_1982  gdpPercap_1987  gdpPercap_1992  \
country
Albania                    3630.880722     3738.932735     2497.437901
Austria                   21597.083620    23687.826070    27042.018680
Belgium                   20979.845890    22525.563080    25575.570690
Bosnia and Herzegovina     4126.613157     4314.114757     2546.781445
Bulgaria                   8224.191647     8239.854824     6302.623438
Croatia                   13221.821840    13822.583940     8447.794873
Czech Republic            15377.228550    16310.443400    14297.021220
Denmark                   21688.040480    25116.175810    26406.739850
Finland                   18533.157610    21141.012230    20647.164990
France                    20293.897460    22066.442140    24703.796150
Germany                   22031.532740    24639.185660    26505.303170
Greece                    15268.420890    16120.528390    17541.496340
Hungary                   12545.990660    12986.479980    10535.628550
Iceland                   23269.607500    26923.206280    25144.392010
Ireland                   12618.321410    13872.866520    17558.815550
Italy                     16537.483500    19207.234820    22013.644860
Montenegro                11222.587620    11732.510170     7003.339037
Netherlands               21399.460460    23651.323610    26790.949610
Norway                    26298.635310    31540.974800    33965.661150
Poland                     8451.531004     9082.351172     7738.881247
Portugal                  11753.842910    13039.308760    16207.266630
Romania                    9605.314053     9696.273295     6598.409903
Serbia                    15181.092700    15870.878510     9325.068238
Slovak Republic           11348.545850    12037.267580     9498.467723
Slovenia                  17866.721750    18678.534920    14214.716810
Spain                     13926.169970    15764.983130    18603.064520
Sweden                    20667.381250    23586.929270    23880.016830
Switzerland               28397.715120    30281.704590    31871.530300
Turkey                     4241.356344     5089.043686     5678.348271
United Kingdom            18232.424520    21664.787670    22705.092540

                        gdpPercap_1997  gdpPercap_2002  gdpPercap_2007
country
Albania                    3193.054604     4604.211737     5937.029526
Austria                   29095.920660    32417.607690    36126.492700
Belgium                   27561.196630    30485.883750    33692.605080
Bosnia and Herzegovina     4766.355904     6018.975239     7446.298803
Bulgaria                   5970.388760     7696.777725    10680.792820
Croatia                    9875.604515    11628.388950    14619.222720
Czech Republic            16048.514240    17596.210220    22833.308510
Denmark                   29804.345670    32166.500060    35278.418740
Finland                   23723.950200    28204.590570    33207.084400
France                    25889.784870    28926.032340    30470.016700
Germany                   27788.884160    30035.801980    32170.374420
Greece                    18747.698140    22514.254800    27538.411880
Hungary                   11712.776800    14843.935560    18008.944440
Iceland                   28061.099660    31163.201960    36180.789190
Ireland                   24521.947130    34077.049390    40675.996350
Italy                     24675.024460    27968.098170    28569.719700
Montenegro                 6465.613349     6557.194282     9253.896111
Netherlands               30246.130630    33724.757780    36797.933320
Norway                    41283.164330    44683.975250    49357.190170
Poland                    10159.583680    12002.239080    15389.924680
Portugal                  17641.031560    19970.907870    20509.647770
Romania                    7346.547557     7885.360081    10808.475610
Serbia                     7914.320304     7236.075251     9786.534714
Slovak Republic           12126.230650    13638.778370    18678.314350
Slovenia                  17161.107350    20660.019360    25768.257590
Spain                     20445.298960    24835.471660    28821.063700
Sweden                    25266.594990    29341.630930    33859.748350
Switzerland               32135.323010    34480.957710    37506.419070
Turkey                     6601.429915     6508.085718     8458.276384
United Kingdom            26074.531360    29478.999190    33203.261280

In [11]:
eu_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30 entries, Albania to United Kingdom
Data columns (total 12 columns):
gdpPercap_1952    30 non-null float64
gdpPercap_1957    30 non-null float64
gdpPercap_1962    30 non-null float64
gdpPercap_1967    30 non-null float64
gdpPercap_1972    30 non-null float64
gdpPercap_1977    30 non-null float64
gdpPercap_1982    30 non-null float64
gdpPercap_1987    30 non-null float64
gdpPercap_1992    30 non-null float64
gdpPercap_1997    30 non-null float64
gdpPercap_2002    30 non-null float64
gdpPercap_2007    30 non-null float64
dtypes: float64(12)
memory usage: 3.0+ KB

Let's find out what the head() method does:

In [12]:
help(eu_data.head)

Help on method head in module pandas.core.generic:

head(n=5) method of pandas.core.frame.DataFrame instance
    Return the first `n` rows.

    This function returns the first `n` rows for the object based
    on position. It is useful for quickly testing if your object
    has the right type of data in it.

    Parameters
    ----------
    n : int, default 5
        Number of rows to select.

    Returns
    -------
    obj_head : type of caller
        The first `n` rows of the caller object.

    See Also
    --------
    pandas.DataFrame.tail: Returns the last `n` rows.

    Examples
    --------
    >>> df = pd.DataFrame({'animal':['alligator', 'bee', 'falcon', 'lion',
    ...                    'monkey', 'parrot', 'shark', 'whale', 'zebra']})
    >>> df
          animal
    0  alligator
    1        bee
    2     falcon
    3       lion
    4     monkey
    5     parrot
    6      shark
    7      whale
    8      zebra

    Viewing the first 5 lines

    >>> df.head()
          animal
    0  alligator
    1        bee
    2     falcon
    3       lion
    4     monkey

    Viewing the first `n` lines (three in this case)

    >>> df.head(3)
          animal
    0  alligator
    1        bee
    2     falcon

In [13]:
eu_data.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

In [14]:
eu_data.head(3)

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.00391,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.42230,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.97448,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080

In [15]:
data.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
std,365.560078,917.644806,677.727301,43.986086,525.09198,1485.263517,1304.328377,2037.668013,3578.979883,4205.533703,5301.853680,6540.991104
min,10039.595640,10949.649590,12217.226860,14463.918930,16046.03728,16233.717700,17632.410400,19007.191290,18363.324940,21050.413770,23189.801350,25185.009110
25%,10168.840645,11274.086022,12456.839645,14479.470360,16231.68533,16758.837652,18093.560120,19727.615725,19628.685413,22537.294470,25064.289695,27497.598692
50%,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
75%,10427.330655,11922.958888,12936.065215,14510.573220,16602.98143,17809.077557,19015.859560,21168.464595,22159.406358,25511.055870,28813.266385,32122.777857
max,10556.575660,12247.395320,13175.678000,14526.124650,16788.62948,18334.197510,19477.009280,21888.889030,23424.766830,26997.936570,30687.754730,34435.367440

We often want to calculate summary statistics grouped by subsets or attributes within fields of our data. For example, we might want to calculate the average GDP per capita for 1962.

We can calculate basic statistics for all records in a single column using the syntax below:

In [16]:
data.gdpPercap_1962.describe()

count        2.000000
mean     12696.452430
std        677.727301
min      12217.226860
25%      12456.839645
50%      12696.452430
75%      12936.065215
max      13175.678000
Name: gdpPercap_1962, dtype: float64

We can also extract one specific metric if we wish:

In [17]:
data.gdpPercap_1962.mean()

12696.45243

In [18]:
data.gdpPercap_1962.std()

677.7273005299778

The pandas function `describe()` will return descriptive stats including: mean, median, max, min, std and count for a particular column in the data. Pandas’ describe function will only return summary values for columns containing numeric data.

It is not particularly useful with just two records, but very helpful when there are thousands.

In [19]:
eu_data.gdpPercap_1962.describe()

count       30.000000
mean      8365.486814
std       4199.193906
min       1709.683679
25%       5373.536612
50%       7515.733738
75%      10931.085347
max      20431.092700
Name: gdpPercap_1962, dtype: float64

## Exercise 2.1.1

- Read the data in `gapminder_gdp_americas.csv` (which should be in the same directory as `gapminder_gdp_oceania.csv`) into a variable called `americas_data` and display its summary statistics.
- As well as the `read_csv()` function for reading data from a file, Pandas provides a `to_csv()` function to write dataframes to files. Applying what you’ve learned about reading from files, write one of your dataframes to a file called `processed.csv`. You can use help to get information on how to use `to_csv`.

## Manipulating data with Pandas (live coding session)

Let's now open a new Jupyter notebook, and explore another dataset `GRCm38.gff3` from the `data/` folder.

[GFF is a standard file format](http://gmod.org/wiki/GFF3) for storing genomic features in a text file. GFF stands for Generic Feature Format. GFF files are plain text, 9 column, tab-delimited files. 

The 9 columns of the annotation section are as follows:

- Column 1: "seqid" - The ID of the landmark used to establish the coordinate system for the current feature.
- Column 2: "source" - The source is a free text qualifier intended to describe the algorithm or operating procedure that generated this feature. 
- Column 3: "type" - The type of the feature.
- Columns 4 & 5: "start" and "end" - The start and end of the feature.
- Column 6: "score" - The score of the feature, a floating point number.
- Column 7: "strand" - The strand of the feature.
- Column 8: "phase" - For features of type "CDS", the phase indicates where the feature begins with reference to the reading frame. 
- Column 9: "attributes" - A list of feature attributes in the format tag=value. 

We have modified these files and added a 10th column "gbid" which is the GenBank ID of each feature, and taken a random subset of these features for each species.

## Next session

Go to our next notebook: [Session 2.2: Data visualisation with Matplotlib](22_python_data.ipynb)